html {
  font-size: 62.5% !important;
}
body {
  font-size: 1em !important;
}

@media (max-width: 300px) {
  html {
    font-size: 70% !important;
  }
}

@media (min-width: 500px) {
  html {
    font-size: 80% !important;
  }
}

@media (min-width: 700px) {
  html {
    font-size: 120% !important;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 200% !important;
  }
}
